<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>War-Weather-Watch</title>
  <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='styles.css') }}" />
  <!-- <script src='main.js'></script> -->
</head>
<body>
  <h1>War-Weather-Watch</h1>

  {% if default_weather %}
    <h2>Just a default weather for now..</h2>
    <pre>{{ default_weather }}</pre>
  {% else %}
    <p>Here will be our forms and data ;)</p>
  {% endif %}

</body>
</html>
