<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>War-Weather-Watch</title>
  <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='styles.css') }}" />
  <!-- <script src='main.js'></script> -->
</head>
  <body>
    <h1>War-Weather-Watch</h1>

    <main>
      <h2>Make prediction for alarms in Ukraine</h2>

      <h3>Two simple steps to get the prediction for your region</h3>
      <ol>
        <li>
          Refresh predictions in the background
          <form action="/predictions/refresh" method="POST">
            <button>
              RUN
            </button>
          </form>
        </li>
        <li>
          Get the prediction for your region
          <form action="/predictions" method="POST">
            <select {% if not is_fresh_prediction %}disabled{% endif %}>
              <option>All</option>
            </select>
            <button {% if not is_fresh_prediction %}disabled{% endif %}>
              PREDICT
            </button>
          </form>
        </li>
      </ol>
    </main>
  
  </body>
</html>
